<div class="box box-solid">
  <div class="box-header with-border">

    <h3 class="box-title">Código de Conduta e Regras do Tatame</h3>
  </div>
  <!-- /.box-header -->
  <div class="box-body">
    <ol>
      <li>Reverencie o tatame ao entrar e ao sair</li>
      <li>Comprimente seu mestre antes de qualquer outro</li>
      <li>comprimente seus colegas de treino por ordem de faixa
      <li>Jamais diga palavrões ou palavras chulas dentro do tatame</li>
      <li>Não chame o graduado pra rolar, espere ser chamado</li>
      <li>Não diga que está cansado a não ser que esteja completamente exausto</li>
      <li>Tire dúvidas, mas jamais questione o seu mestre</li>
      <li>Desligue seu Celular</li>
      <li>Lave o seu Kimono regularmente e dê atenção a higiene pessoal</li>
      <li>Não diga que é lutador</li>
      <li>Seja humilde</li>
      <li>Nunca se vanglorie por finalizar no treino</li>
      <li>Não invente desculpas para não rolar</li>
      <li>Respeite seus colegas de treino, principalmente as meninas</li>
      <li>faça silêncio ao aprender o que o mestre ensina</li>
      <li>Dedique-se aos fundamentos básicos</li>
      <li>Treine muito, só assim se tornará um bom atleta</li>
      <li>Enquanto houver tempo repita a posição que acabou de aprender</li>
      <li>Observe atentamente os mais graduados rolando, você aprenderá muito apenas assistindo</li>
    </ol>
  </div>
  <!-- /.box-body -->
</div>
<!-- /.box -->
